name: Deploy Site
on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install and Build
        run: |
          pip install mkdocs-material mkdocs-git-revision-date-plugin mkdocs-awesome-pages-plugin mkdocs-minify-plugin mkdocs-rss-plugin
          mkdocs build

      - name: Pull Demo
        uses: actions/checkout@v4
        with:
          repository: cloudecho/demo
          ref: gh-page
          path: site/g

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: site
          branch: gh-pages